html, body {
    height: 100%;
    margin: 0;
}

#workspace {
    width: 30%;
    height: 100%;
    float: left;
}

#blocklyArea {
    width: 70%;
    height: 100%;
    float: left;
}

#blocklyDiv {
    position: absolute;
}

#toolbox {
    display: none;
}
