html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

button {
    border: none;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 8px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#simulation {
    text-align: center;
}

#simulationVisualisation {
    height: 88%;
    background-color: #9E9E9E;
}

#simulationButtons>button {
    width: 45%;
}

#runButton {
    color: #FFFFFF;
    background-color: #4CAF50;
}

#stopButton {
    color: #FFFFFF;
    background-color: #EF5350;
}

input[type=range] {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
    width: 95%;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: -7px;
}

input[type=range]::-moz-range-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: none;
}

input[type=range]::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: #606670 none;
}

input[type=range]::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
}

input[type=range]::-ms-fill-lower {
    background-color: #d7dbdd;
    border-radius: 3px;
}

input[type=range]::-ms-fill-upper {
    background-color: #d7dbdd;
    border-radius: 3px;
}

input[type=range]::-ms-thumb {
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    border: none;
}

#simulation {
    width: 30%;
    height: 100%;
    float: left;
}

#blocklyArea {
    width: 70%;
    height: 100%;
    float: left;
}

#blocklyDiv {
    position: absolute;
}

#toolbox {
    display: none;
}
