html, body {
    height: 100%;
    margin: 0;
}

#simulation {
    position: relative;
    box-sizing: border-box;
    padding-bottom: 127px;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
}

#simulationVisualisation {
    width: 100%;
    height: 100%;
    background-color: #9E9E9E;
}

#simulationControls {
    position: absolute;
    height: 127px;
    left: 0;
    right: 0;
    bottom: 0;
}

#blocklyArea {
    width: 70%;
    height: 100%;
    float: left;
}

#blocklyDiv {
    position: absolute;
}

#toolbox {
    display: none;
}

.green {
    background-color: #4CAF50;
}

.red {
    background-color: #EF5350;
}

button {
    color: #FFFFFF;
    width: 95%;
    outline: none;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 24px;
    border-radius: 8px;
    cursor: pointer;
}

label {
    font-family: sans-serif;
}

input[type=range] {
    -webkit-appearance: none;
    width: 95%;
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: none;
}

input[type=range]::-moz-range-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -7px;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    cursor: pointer;
}
